In [18]:
import pandas as pd;
import os
path='/Users/kieuanh/Documents/cao học/ky 1/khai phá dữ liệu và học máy/Sales Reporting /';

In [34]:
frames=[]

for f in os.listdir(path):
    if f.endswith('.csv'):
        filepath = path + f
        df1=pd.read_csv(filepath)
        frames.append(df1)
        result =pd.concat(frames)
df = result
df.to_csv('annulSales2019.csv', index=False)

In [ ]:
# Task 2.2: Add 'Month' collumn

In [39]:
df['Month']=df['Order Date'].str.slice(0, 2, 1)
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,162009,iPhone,1,700,03/28/19 20:59,"942 Church St, Austin, TX 73301",03
1,162009,Lightning Charging Cable,1,14.95,03/28/19 20:59,"942 Church St, Austin, TX 73301",03
2,162009,Wired Headphones,2,11.99,03/28/19 20:59,"942 Church St, Austin, TX 73301",03
3,162010,Bose SoundSport Headphones,1,99.99,03/17/19 05:39,"261 10th St, San Francisco, CA 94016",03
4,162011,34in Ultrawide Monitor,1,379.99,03/10/19 00:01,"764 13th St, San Francisco, CA 94016",03

In [46]:
print(set(df['Month']))

{'12', '01', '02', '10', '11', '04', '03', '07', '09', '06', '08', 'Or', '05'}

In [44]:
# Task 2.3: Get rid of "NAN" and "OR" value

In [45]:
df=df.dropna(how='all')

In [47]:
# Kiem tra xem dong nao co gia tri "OR"
df[df['Month']=='Or']

SyntaxError: invalid syntax (2698741650.py, line 2)